/* LetterCard.css */

.custom-card:hover .LetterCard__title {
    color: red;
  }
  
  .custom-card:hover .LetterCard__image {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-card {
    transition: transform 0.5s ease-in-out;
  }
  
  .LetterCard__image {
    aspect-ratio: 210 / 297;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .LetterCard__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none; 
  }
  
  .LetterCard__date {
    color: #6c757d;
  }
  
  a{
    text-decoration: none;
  }