.pdf__container {
    display: flex;
    justify-content: center;
    user-select: none;
}

.wrap {
    margin: auto 5rem;

}

.controls {
    margin: 20px;
    display: flex;
    justify-content: center;
    
}

.controls button {

    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 0 10px;
    outline: none;

}

@media print {
    .pdf__container {
        display: none;
    }
}

.controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 595px !important;
    height: 841px !important;
}

@media (max-width: 767px) {
    .react-pdf__Page__canvas {
        width: 400px !important; /* Adjust the width in pixels as needed for smaller screens */
        height: 625px !important;
    }
  }
  
